.keyboards {
  display: grid;
  grid-template-columns: auto repeat(2, 20rem);
  justify-content: center;
  align-items: center;
  gap: 1rem;

  > p {
    margin: 0;
  }

  img {
    margin: 0;
    border: 0;
  }

  zcode {
    overflow: initial;
    word-wrap: normal;
    white-space: normal;
  }
}
